<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FFT API</title>
</head>
<body>
  <h1>FFT API</h1>
  <hr>
  <h2>Endpoints:</h2>
  <ul>
    <li>
      Test
    </li>
  </ul>
</body>
</html>