<%- layout('layouts/boilerplate') %>
<h1>Final Fantasy Tactics API</h1>
<hr>
<p>FFTAPI is an API for item, ability, and character stats in the tactical RPG <a href="http://dlgames.square-enix.com/fft/en/">Final Fantasy Tactics: The War of the Lions</a>. Currently there are only Item endpoints, but the rest are being worked on.</p>
<h2>Endpoints:</h2>
<ul>
  <li>Abilities</li>
  <li>Accessories</li>
  <li>Armor</li>
  <li><a href="/api/item">Items</a></li>
  <li>Weapons</li>
  <li>Random</li>
</ul>