<%- layout('layouts/boilerplate') %>
<h1>Final Fantasy Tactics API</h1>
<hr>
<p>FFTAPI is an API for item, ability, and character stats in the tactical RPG <a href="http://dlgames.square-enix.com/fft/en/">Final Fantasy Tactics: The War of the Lions</a>. Currently only Accessory, Armor, Helmet, Item, and Weapon endpoints work, but the ability endpoints are being worked on.</p>
<h3>Usage</h3>
<p>Making a request to any of the following endpoints in the form of <code>/api/categoryName/itemName</code> will return a JSON response with the object's details. Making a request to the category itself while omitting an item name will return all objects in that category. Requesing <code>/api</code> itself will respond with a list of categories.</p>
<h2>Endpoints:</h2>
<ul>
  <li><a href="/api/accessories">Accessories</a></li>
  <li><a href="/api/armors">Armor</a></li>
  <li><a href="/api/helmets">Helmets</a></li>
  <li><a href="/api/items">Items</a></li>
  <li><a href="/api/weapons">Weapons</a></li>
</ul>
<h2>Examples</h2>
<h4>Requesting a specific weapon:</h4>
<p>
  Request: 
  <br>
  <code>http://localhost:3000/api/weapons/longsword</code> (until deployment)
  <br>
  Response: 
</p>
<pre class="border border-secondary rounded shadow">
  {
    "_id":"6035a229773244214eaebb4c",
    "name":"Longsword",
    "nameLower":"longsword",
    "atk":5,
    "def":10,
    "mag":0,
    "location":"Outfitters: Dycedarg meeting at Eagrose Castle (Chapter 1), Treasure: Merchant City of Dorter (rare)",
    "price":"900",
    "attribute":"",
    "description":"This straight and sharp double-edged blade can be used for either stabbing or slashing.",
    "__v":0
  }
</pre>
<h4>Requesting a random item:</h4>
<p>
  Request:
  <br>
  <code>http://localhost:3000/api/items/random</code>
  <br>
  Response:
</p>
<pre class="border border-secondary rounded shadow">
  {
    "_id":"6035a22363e16d213af3c1c7",
    "name":"Flameburst Bomb",
    "nameLower":"flameburst bomb",
    "effect":"Attack: 8",
    "location":"Outfitters: Cardinal Delacroix meeting at Lionel Castle (Chapter 2)",
    "price":250,
    "description":"An explosive sphere that deals fire damage when thrown.",
    "__v":0
  }
</pre>