a {
    color: rgb(50, 50, 50);
}

body {
    background-image: url("/img/texture.png");
    background-attachment: fixed;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.2em;
}

main {
    background: rgba(180, 180, 180, 0.5)
}

li {
    list-style: url("/img/sword.gif");
}