a {
    color: rgb(50, 50, 50);
}

body {
    background-image: url("/img/texture.png");
    background-attachment: fixed;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.2em;
}

code {
    color:rgb(50, 50, 50);
    background: rgba(180, 180, 180, 0.8);
    padding-left: 7px;
    padding-right: 7px;
}

li {
    list-style: url("/img/sword.gif");
}

main {
    background: rgba(180, 180, 180, 0.5)
}

pre {
    background: rgba(180, 180, 180, 0.8);
    padding: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 0.9rem;
}